language: c
before_install:
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- "./travis-tool.sh bootstrap"
sudo: required
install:
- "./travis-tool.sh install_deps"
- "./travis-tool.sh install_r devtools"
- "./travis-tool.sh github_package jimhester/covr robertzk/testthatsomemore"
script: "./travis-tool.sh run_tests"
after_failure:
- "./travis-tool.sh dump_logs"
after_success:
- Rscript -e 'library(covr);coveralls()'
notifications:
  email:
    on_success: change
    on_failure: change
  hipchat:
    rooms:
      secure: AAGtjBCHqTo2JkFJ8yu9N5NSE+oHEzlb6M3TGHjcwrreOVLIh2dHlJyvhWV4siwH5BkULRkj9iDHmA6QvFpy5pvMemZs1oI2OT2QXwy4rndVPjmWtQb6FA8aZEAwyk0VpDsRIU4fA9m43gabgw51HAEUYWUpIkZM5KM0VpWD/GQ=
    on_success: change
    on_failure: change
    template:
    - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}
      | Details: %{build_url} | Changes: %{compare_url}"
